<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New House</h1>
        <div class="col-6 offset-3">
            <form action="/home-finder" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                 <div class="mb-3">
                     <label class="form-label" for="title">Title</label>
                     <input class="form-control" type="text" id="title" name="hfinder[title]" required>
                 </div>

                 <div class="mb-3">
                     <label class="form-label" for="location">Location</label>
                     <input class="form-control" type="text" id="title" name="hfinder[location]" required>
                 </div>

                 <input type="file" name="image" multiple>
                 <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name="hfinder[image]" required>
                </div> -->
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <input class="form-control" type="text" id="price" name="hfinder[price]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="hfinder[description]" required></textarea>
                </div>
                 <div class="mb-3">
                    <button class="btn btn-success">Add House</button>
                 </div>
             </form>
             <a href="/home-finder">All Houses</a>
</div>
</div>    
