<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>Details</h1>
    <h1><%= hfinder.title %></h1>
    <h1><%= hfinder.location %></h1>
    <p>
        <a href="/home-finder/<%=hfinder._id%>/edit">Edit</a>
    </p>
    <form action="/home-finder/<%=hfinder._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <footer>
        
        <a href="/home-finder" >All Houses</a>
    </footer>

</body>
</html>